<a href="https://colab.research.google.com/github/sachinibuddhika/Big-Data-Project-Analysis-on-Swiggy-Zomato-Order-Information-Dataseton/blob/main/BigData_195006X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mount google drive**

In [324]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Initialize spark context**

In [325]:
#install pyspark
!pip install pyspark

# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [326]:
# Create a SparkSession
spark = SparkSession.builder \
    .appName("OrderAnalysis") \
    .getOrCreate()

In [327]:
spark

In [328]:
conf = spark.sparkContext.getConf()

# Print the configuration settings
print("spark.app.name = ", conf.get("spark.app.name"))
print("spark.master = ", conf.get("spark.master"))
print("spark.executor.memory = ", conf.get("spark.executor.memory"))

spark.app.name =  OrderAnalysis
spark.master =  local[*]
spark.executor.memory =  None

In [329]:
# Load the CSV file into a DataFrame
df = spark.read.csv('/content/drive/My Drive/BigData/DataSet/Rider-Info.csv', header=True)

**Read the dataset**

In [330]:
#specifying the dataset to read
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path: Union[str, List[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, sep: Optional[str] = None, encoding: Optional[str] = None, quote: Optional[str] = None, escape: Optional[str] = None, comment: Optional[str] = None, header: Union[bool, str, NoneType] = None, inferSchema: Union[bool, str, NoneType] = None, ignoreLeadingWhiteSpace: Union[bool, str, NoneType] = None, ignoreTrailingWhiteSpace: Union[bool, str, NoneType] = None, nullValue: Optional[str] = None, nanValue: Optional[str] = None, positiveInf: Optional[str] = None, negativeInf: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, maxColumns: Union[str, int, NoneType] = None, maxCharsPerColumn: Union[str, int, NoneType] = None, maxMalformedLogPerPartition: Union[str, int, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, charToEscapeQuoteEscaping: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, enforceSchema: Union[bool, str, NoneType] = None, emptyValue: Optional[str] = None, locale: Optional[str] = None, lineSep: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, unescapedQuoteHandling: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    path : str or list
        string, or list of strings, for input path(s),
        or RDD of Strings storing CSV rows.
    schema : :class:`pyspark.sql.types.StructType` or str, optional
        an optional :class:`pyspark.sql.types.StructType` for the input schema
        or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).

    Other Parameters
    ----------------
    Extra options
        For the extra options, refer to
        `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
        for the version you use.

        .. # noqa

    Examples
    --------
    Write a DataFrame into a CSV file and read it back.

    >>> import tempfile
    >>> with tempfile.TemporaryDirectory() as d:
    ...     # Write a DataFrame into a CSV file
    ...     df = spark.createDataFrame([{"age": 100, "name": "Hyukjin Kwon"}])
    ...     df.write.mode("overwrite").format("csv").save(d)
    ...
    ...     # Read the CSV file as a DataFrame with 'nullValue' option set to 'Hyukjin Kwon'.
    ...     spark.read.csv(d, schema=df.schema, nullValue="Hyukjin Kwon").show()
    +---+----+
    |age|name|
    +---+----+
    |100|NULL|
    +---+----+

In [331]:
# Load the CSV file into a DataFrame
df = spark.read.csv('/content/drive/My Drive/BigData/DataSet/Rider-Info.csv', header=True)

In [332]:
df.show(5)

+-------------------+--------+-------------------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+------------------+--------------------+-------------------+-------------------+----------------+------------------+--------------+
|         order_time|order_id|         order_date|         allot_time|        accept_time|        pickup_time|     delivered_time|rider_id|first_mile_distance|last_mile_distance|alloted_orders|delivered_orders|cancelled|undelivered_orders|lifetime_order_count|reassignment_method|reassignment_reason|reassigned_order|      session_time|cancelled_time|
+-------------------+--------+-------------------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+------------------+--------------------+-------------------+-------------------+----------------+------------------+--------------+
|2021-01-26 02:21:35|  556753|2021-01-26 00:00:00|2021-01-26 02:21:59|2021-01-26 02:22:08|2021-01-26 02:32:51|2021-01-26 02:49:47|   11696|             1.5666|              2.65|          46.0|            46.0|        0|               0.0|               621.0|               NULL|               NULL|            NULL|              NULL|          NULL|
|2021-01-26 02:33:16|  556754|2021-01-26 00:00:00|2021-01-26 02:33:57|2021-01-26 02:34:45|2021-01-26 02:50:25|2021-01-26 03:11:15|   18117|             2.5207|              2.76|           8.0|             8.0|        0|               0.0|               105.0|               NULL|               NULL|            NULL|3.2666666666666666|          NULL|
|2021-01-26 02:39:49|  556755|2021-01-26 00:00:00|2021-01-26 02:39:57|2021-01-26 02:40:13|2021-01-26 02:56:00|2021-01-26 03:12:46|   18623|             2.2074|               4.8|           1.0|             1.0|        0|               0.0|                66.0|               NULL|               NULL|            NULL| 9.816666666666666|          NULL|
|2021-01-26 02:47:53|  556756|2021-01-26 00:00:00|2021-01-26 02:48:25|2021-01-26 02:49:06|2021-01-26 03:21:51|2021-01-26 03:41:05|   15945|             2.1894|              6.38|           1.0|             1.0|        0|               0.0|               127.0|               NULL|               NULL|            NULL|17.533333333333335|          NULL|
|2021-01-26 03:06:30|  556757|2021-01-26 00:00:00|2021-01-26 03:07:21|2021-01-26 03:07:57|2021-01-26 03:31:38|2021-01-26 04:00:15|   17589|              2.787|              4.01|          34.0|            34.0|        0|               0.0|                84.0|               NULL|               NULL|            NULL|              1.35|          NULL|
+-------------------+--------+-------------------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+------------------+--------------------+-------------------+-------------------+----------------+------------------+--------------+
only showing top 5 rows

In [333]:
df.columns

['order_time',
 'order_id',
 'order_date',
 'allot_time',
 'accept_time',
 'pickup_time',
 'delivered_time',
 'rider_id',
 'first_mile_distance',
 'last_mile_distance',
 'alloted_orders',
 'delivered_orders',
 'cancelled',
 'undelivered_orders',
 'lifetime_order_count',
 'reassignment_method',
 'reassignment_reason',
 'reassigned_order',
 'session_time',
 'cancelled_time']

**Preprocess data**

In [334]:
from pyspark.sql import functions as F

Dropping columns

In [335]:
columns_to_drop = ['accept_time', 'undelivered_orders','reassignment_method', 'reassignment_reason','cancelled_time']
df2 = df.drop(*columns_to_drop)

df2.show(5)

+-------------------+--------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------------+
|         order_time|order_id|         order_date|         allot_time|        pickup_time|     delivered_time|rider_id|first_mile_distance|last_mile_distance|alloted_orders|delivered_orders|cancelled|lifetime_order_count|reassigned_order|      session_time|
+-------------------+--------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------------+
|2021-01-26 02:21:35|  556753|2021-01-26 00:00:00|2021-01-26 02:21:59|2021-01-26 02:32:51|2021-01-26 02:49:47|   11696|             1.5666|              2.65|          46.0|            46.0|        0|               621.0|            NULL|              NULL|
|2021-01-26 02:33:16|  556754|2021-01-26 00:00:00|2021-01-26 02:33:57|2021-01-26 02:50:25|2021-01-26 03:11:15|   18117|             2.5207|              2.76|           8.0|             8.0|        0|               105.0|            NULL|3.2666666666666666|
|2021-01-26 02:39:49|  556755|2021-01-26 00:00:00|2021-01-26 02:39:57|2021-01-26 02:56:00|2021-01-26 03:12:46|   18623|             2.2074|               4.8|           1.0|             1.0|        0|                66.0|            NULL| 9.816666666666666|
|2021-01-26 02:47:53|  556756|2021-01-26 00:00:00|2021-01-26 02:48:25|2021-01-26 03:21:51|2021-01-26 03:41:05|   15945|             2.1894|              6.38|           1.0|             1.0|        0|               127.0|            NULL|17.533333333333335|
|2021-01-26 03:06:30|  556757|2021-01-26 00:00:00|2021-01-26 03:07:21|2021-01-26 03:31:38|2021-01-26 04:00:15|   17589|              2.787|              4.01|          34.0|            34.0|        0|                84.0|            NULL|              1.35|
+-------------------+--------+-------------------+-------------------+-------------------+-------------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------------+
only showing top 5 rows

In [336]:
df2.columns

['order_time',
 'order_id',
 'order_date',
 'allot_time',
 'pickup_time',
 'delivered_time',
 'rider_id',
 'first_mile_distance',
 'last_mile_distance',
 'alloted_orders',
 'delivered_orders',
 'cancelled',
 'lifetime_order_count',
 'reassigned_order',
 'session_time']

Dropping null rows

In [337]:
# display null values
df2.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|order_time|order_id|order_date|allot_time|pickup_time|delivered_time|rider_id|first_mile_distance|last_mile_distance|alloted_orders|delivered_orders|cancelled|lifetime_order_count|reassigned_order|session_time|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|         0|       0|         0|         0|       2421|          5218|       0|                  0|                 0|         16948|           17341|        0|                  53|          436247|        3675|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+

In [338]:
df2 = df2.filter(df.accept_time.isNotNull())

In [339]:
rows_to_drop = ['pickup_time','delivered_time']

In [340]:
for row in rows_to_drop:
  df2 = df2.filter(df[row].isNotNull())

In [341]:
# display null values
df2.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|order_time|order_id|order_date|allot_time|pickup_time|delivered_time|rider_id|first_mile_distance|last_mile_distance|alloted_orders|delivered_orders|cancelled|lifetime_order_count|reassigned_order|session_time|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|         0|       0|         0|         0|          0|             0|       0|                  0|                 0|         16299|           16486|        0|                   2|          431751|        3531|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+

In [342]:
df2.count()

444782

Filling missing values

In [343]:
from pyspark.sql.functions import mean

In [344]:
# Fill missing values with mean in specified columns
columns_to_fill = ['alloted_orders', 'delivered_orders', 'lifetime_order_count', 'session_time']
mean_values = df2.select([mean(col).alias(col) for col in columns_to_fill]).collect()[0].asDict()
df2 = df2.fillna(mean_values)

In [345]:
# display null values
df2.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|order_time|order_id|order_date|allot_time|pickup_time|delivered_time|rider_id|first_mile_distance|last_mile_distance|alloted_orders|delivered_orders|cancelled|lifetime_order_count|reassigned_order|session_time|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+
|         0|       0|         0|         0|          0|             0|       0|                  0|                 0|             0|               0|        0|                   0|          431751|           0|
+----------+--------+----------+----------+-----------+--------------+--------+-------------------+------------------+--------------+----------------+---------+--------------------+----------------+------------+